@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Rotonda';
    src: url('../fonts/Rotonda.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay.ttf') format('truetype');
    font-style: normal;
}