.layout{
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 437px;
}
.container{
    padding: 0 61px 0 61px;
    @media screen and(max-width:585px){
        padding: 0 31px 0 31px;
    }
    @media screen and(max-width:420px){
        padding: 0 11px 0 11px;
    }
}
.header_container{
    padding: 0;
}
.header_topper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}
.header_logo{
    width: 198.68px;
    height: 50px;
}
.header_logo img{
    width: 100%;
}
.header_link a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #929292;
}
.header_link:hover a{
    color: #9C27B0;
}
.header_bg{
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.header_bg_inner{
    width: 100%;
    height: 130px;
    background-color: #9C27B0;
    position: relative;
    
}
.header_bg_circle{
    font-family: 'Rotonda';
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 30px;
    letter-spacing: -0.1em;
    color: #9C27B0;
    position: absolute;
    bottom: 23px;
    left: -17px;
}
.header_bg_img{
    position: absolute;
    width: 179.28px;
    height: 180px;
    z-index: 1000;
    left: 50%;
    margin-left: -90px;
    top: 13px;
}
.header_bg_img img{
    width: 100%;
    
}